.btn {
  background-color: $button-bg;
  border: 0;
  box-shadow: 2px 2px 8px rgba($black, .7);
  color: $white;
  padding: .9375em 2.5625em;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: lighten($button-bg, 25%);
  }

  &-main {
    background-color: $main-btn-bg;
  }

  &-site {
    background-color: $site-color-btn;
  }
}
