$site-color: #607d8b;
$white: #fff;
$black: #000;
$head-foot-bg: $site-color;
$body-bg: #eaeaea;

$grey: #ccc;
$selection-background: #b3d4fc;

// Side Padding Styling ========================================================
$padding: .9375em;
$padding-sides: 0 .9375em;

// Buttons =====================================================================
$button-bg: #00a;
$main-btn-bg: #0d3349;
$button-red: #f00;
$site-color-btn: $site-color;
